{
  "development": {
    "username": "root",
    "password": "sua_senha_aqui",
    "database": "notificacoes_db",
    "host": "localhost",
    "port": 3306,
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "notificacoes_db",
    "host": "localhost",
    "port": 3306,
    "dialect": "mysql"
  }
}
